@font-face {
  font-family: "Roboto";
  src: url("Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Roboto-Bold";
  src: url("Roboto-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Michroma";
  src: url("Michroma-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
